/**  RTL classes **/

.theme-align {
  text-align: right;
}
.text-left{
  text-align: right !important
}
.checkbox-custom+.checkbox-custom-label:before {
  margin-right: 5px
}
.floating{
    float:right
}
.text-right{
  text-align: left
}
/**  End RTL classes **/

@font-face {
  font-family: tahoma;
  src: url(../font/tahoma/TAHOMA.TTF), url(../font/tahoma/TAHOMABD.TTF)
}

* {
  font-family: tahoma;
  letter-spacing: 0.5px
}

body {
  font-family: tahoma;
}
/*** register  ****/
.login .form-login select{
  margin-left:12px;
}
/**** end register *****/
/*--- menu ---*/
.dropdown-submenu>.dropdown-menu {
    left: 100%;
    margin-left: 0;
}
.dropdown-submenu>a:after {
    border-width: 8px 0px 0px 8px;
    border-left-color: #ccc;
    margin-top: 10px;
    margin-right: -10px;
    float: right;
    transform: rotate(255deg);
}
/******* Cart  ********/
.card .card-content .offer{
  left:auto;
  right:15px
}
.block-min{
  right:auto;
  left:60px
}
.block-add{
  left:116px;
  right:auto
}
.card .card-content i{
  left:auto;
  right:15px
}
span.amount{
  right:auto;
  left:92px
}
.sp-quantity .sp-plus{
    right:auto;
    left: -15px;
}
.sp-quantity .sp-minus{
    left: -22px;
    right:auto;
}
.sp-quantity .sp-input{
    left: 73px;
    right:auto
}
.card .card-content{
  margin-right:auto;
  margin-left:-30px
}
@media (max-width:768px){
  .cartPage  .btn{
        padding-left:auto;
        padding-right:10px
    }
}
@media (min-width:768px) and (max-width: 992px){
  .cartPage  .btn{
        padding-left:auto;
        padding-right:10px
    }
}
/******* End Cart  ********/
/******* research *********/
.filterSide button.accordion{
  text-align: left
}
button.accordion:after{
  float:right
}
.filResult .pro h6{
  left:auto;
  right:19px
}
.pro h6{
  left:auto;
  right:19px
}
.pro{
    direction: ltr
}
.filResult .pro .addToCart span{
  margin-right:10px
}
.rate{
  float:left
}
/**** end Search  ****/
/*** payment ****/
.anotherDay{
  padding-right:0
}
.paymentPage .radio input[type=radio]+.radio-label:before{
  margin-right:0
}
.clockpicker input[type=text]{
text-indent: 5px
}
/**** end payment ****/
/**** Head ****/
.hedarLang{
  margin-right:0 !important;
  margin-left:14px
}
.hedarLang select{
  border-left:0 !important;
  border-right: 1px solid #dedede!important;
  width:143px;
}
.hedarUser>div:first-child{
  padding-right:15px;
  padding-left:0
}
.hedarSearch input[type=search]{
  padding-left:10px !important
}
.hedarSearch button{
    margin-left: -18px;
}
.hedarSearch button span{
    left:0;
}
.hedarUser .user{
  text-align: left
}
.hedarCon span{
  padding-left:5px
}
.container-fluid{
    padding-left:0 !important
}
.navbar-collapse{
    padding-left:0 !important
}
.dropdown-menu li>a, .dropdown-menu li>span{
  text-align:left !important
}
.hedarUser>div{
  width:49px !important
}
.hedarLang span{
  border-right: 0;
  border-left:0
}
.hedarLang span{
  border-right: 1px solid #dedede;;
}
.hedarLang span:first-child{
  border-right: 0px solid #dedede;;
}
.owl-carousel{
  right:auto !important
}
.mainProCon{
  direction: ltr
}
.owl-carousel .offerPrice{
  left: auto
}
