.profileedit .content-tabs,
.profileedit .tabs-edit {
    float: right;
    text-align: right;
}

.profileedit .col-sm-12 {
    text-align: right;
}

.profileedit .col-sm-3 li i {
    float: right;
    margin-left: 10px;
}

.profileedit table {
    text-align: right;
}

.profileedit table thead th {
    text-align: right;
}

.modal {
    text-align: right;
}

.profileedit .close {
    float: left;
}

.modal .btn {
    float: left;
    margin-left: 15px !important;
}

.account-info .fa-pencil,
.personal-info .fa-pencil {
    position: absolute;
    top: 10px;
    left: 10px !important;
    right: inherit;
}

.address-info i {
    float: left;
}

.address-info i {
    float: left;
}

#aditaddress label,
#editname label {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

select {
    direction: rtl;
}

.orders-details th,
.orders-details td {
    text-align: right;
}

#rateYo {
    float: right;
}

.perform-rate {
    float: right;
    width: 50%;
}

.profileedit input {
    direction: rtl;
}

.modal input {
    direction: rtl;
}


/*.profileedit i{ float: right;*/

margin-left: 10px;
margin-top: 5px;

}
#review-order .col-lg-6 {
    float: right;
}
#review-order .col-lg-6 {}
.text-left {
    text-align: left;
}
.fclass .col-lg-4 {
    float: right;
}
.rec-products .title-rec{text-align: right;}
/*.text-left #rateYo{ float: left;}*/
.tabs-edit i,
.username-profile i {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.product-slider {
    float: right;
}
.pro-des {
    text-align: right;
}
.rate {
    float: right;
}
.product-des {
    text-align: right;
}
.users-feedback {
    text-align: right;
}
.user-pic,
.user-comment {
    float: right;
}
.text-left {
    text-align: right;
}
.user-comment header i {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}
.rate label {
    float: right;
}
.product-slider {
    float: right;
}

/*.pro .addToCart span{ float: right}*/
.latest-orders .item {
    float: right;
}
.section-title-offers {
    text-align: right;
}
.allproduct .col-lg-3 {
    float: right;
}
footer .col-lg-6 .col-lg-4,
footer .col-lg-6 {
    float: right;
    text-align: right;
}
.down-app {
    text-align: left;
}
.btn01 {
    text-align: right;
}
.news-send {
    direction: rtl;
}
table{direction: rtl;}