<<<<<<< HEAD
@charset "UTF-8";
.theme-align {
    text-align: right
}

.floating {
    float: left
}

.margin-top {
    margin-top: 50px;
    margin-bottom: 30px
}

@font-face {
    font-family: noor;
    src: url(../font/noor/NOORR_0.TTF)
}

* {
    font-family: noor
}

.btn-warning {
    background: #0154b0
}

.btn-warning:hover {
    background: #0154b0!important
}

.btn-success {
    background: #5ba0d0
}

.btn-success:hover {
    background: #5ba0d0!important
}

input {
    border-bottom: 1px solid #dedede!important
}

body {
    font-family: noor;
    background: #f8f8f8
}

.btn {
    border: 0
}

.btn:focus,
.btn:hover {
    color: #fff
}

.no-padd-r {
    padding-right: 0
}

.no-padd-l {
    padding-left: 0
}

.padding {
    padding: 10px 0
}

.no-padd {
    padding: 0
}

.no-mar-r {
    margin-right: 0
}

.no-mar-l {
    margin-left: 0
}

.no-mar {
    margin: 0
}

.colorOrange {
    color: #0154b0
}

.border {
    display: block;
    height: 1px;
    background: #dedede;
    margin: 15px 0 25px 0
}

.boxShadow,
.paymentPage .paymentLeft ulو.paymentPage .paymentLeft .paymentAddress,
.paymentPage .paymentRight .panel-primary {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

input[type=date]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label {
    color: #0154b0
}

input[type=checkbox]+label {
    font-size: 13px;
    color: #35353d;
    font-weight: 400
}

input[type=date]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #dedede!important;
    box-shadow: none
}

label {
    font-size: 14px;
    font-weight: 400
}

.panel-heading {
    background: #f9f9f9!important
}

input[type=email].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red
}

.form-login .form-control:focus {
    border-color: #0154b0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 165, 0, .6)
}

.login.panel-primary>.panel-heading {
    background: #dedede;
    border-color: transparent;
    color: #35353d;
    font-size: 15px
}

.login.panel-primary {
    border-color: #dedede
}

.alert.alert-warning {
    display: none!important
}

.form-login {
    margin-top: 30px
}

.login .form-login select {
    width: 100%!important;
    margin-left: 12px;
    height: 35px!important;
    border-bottom: 1px solid #dedede!important
}

.form-login .input-field label {
    right: 15px;
    font-weight: 400
}

.form-login a.margin {
    margin-top: 20px;
    display: inline-block
}

.mobile-app {
    margin-top: 30px
}

.mobile-app>img {
    margin-right: 80px;
    margin-bottom: 30px
}

.mybtn {
    margin-top: 30px
}

.btndown {
    margin-bottom: 20px
}

.check-mar-top {
    margin-top: 15px
}

.checkbox-custom {
    opacity: 0;
    position: absolute
}

.checkbox-custom,
.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer
}

.checkbox-custom-label {
    position: relative
}

.checkbox-custom+.checkbox-custom-label:before {
    content: '\2713';
    background: #fff;
    border: 2px solid #dedede;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    color: #fff
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    background: #0154b0
}

.checkbox-custom:focus+.checkbox-custom-label {
    outline: 0
}

.card .card-content {
    padding: 10px;
    position: relative;
    margin-right: -30px
}

.card .card-content i {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer
}

.card .card-content .offer {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid #dedede;
    padding: 2px
}

.card .card-image img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 121px;
    padding: 5px
}

.sp-quantity {
    position: relative;
    color: #fff
}

.sp-quantity .sp-input {
    position: absolute;
    bottom: -31px;
    right: 74px;
    width: 20px;
    text-align: center
}

.sp-quantity .sp-input input {
    border: 0!important;
    color: #404040!important
}

.sp-quantity .sp-plus {
    position: absolute;
    bottom: -49px;
    right: -10px;
    text-align: center
}

.sp-quantity .sp-minus {
    position: absolute;
    right: -14px;
    bottom: -49px;
    text-align: center
}

.block-add {
    display: block;
    background: #0154b0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    bottom: 45px;
    padding-top: 3px
}

.block-min {
    display: block;
    background: #ed7133;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 112px;
    bottom: 45px;
    position: absolute;
    padding-top: 3px
}

span.amount {
    display: block;
    right: 85px;
    bottom: 50px;
    position: absolute;
    color: #35353d!important
}

.card .card-content .offer h6 {
    font-size: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 3px
}

.card .card-content i {
    color: #ed7133
}

.card .card-content i:hover {
    color: #0154b0;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

.product .card-content h4 {
    font-size: 13px;
    color: #35353d;
    border: none;
    margin-top: 0;
    margin-bottom: 10px
}

.product .card-content h5 {
    font-size: 12px;
    color: #35353d;
    border: none;
    margin-bottom: 13px;
    margin-top: 0;
    padding: 0
}

.card .card-content h5:last-child {
    margin-bottom: 0
}

.product .card-content h5>span {
    color: #0154b0
}

.product {
    padding-top: 10px
}

.cartPage .orderCart {
    background: #dedede;
    height: 100px;
    padding-top: 15px;
    font-size: 15px
}

.cartPage .orderCart h6:last-child {
    padding-top: 15px
}

.cartPage .cartTitle {
    padding-top: 15px
}

.cartPage .cartTitle h4 {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 0
}

.cartPage .cartTitle .glyphicon {
    color: #0154b0
}

@media (max-width:768px) {
    .btn {
        padding-left: 10px
    }
}

.searchPage .filterSearch h4 {
    font-size: 14px;
    margin-bottom: 0
}

.searchPage .filterSearch label {
    color: #35353d
}

.clientitemresearch .researchcat {
    background: #0154b0;
    padding: 12px
}

.clientitemresearch .researchcat h3 {
    color: #fff;
    margin: 0;
    font-size: 18px
}

.filterSide {
    margin-top: 15px
}

.productRate {
    height: 25px;
    margin-top: -15px
}

.pro .productRate label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ffc700
}

.pro .productRate label:last-child {
    color: #dedede
}

.pro .productRate:not(:checked)>label:before {
    content: '★ '
}

.rate {
    height: 25px;
    margin-top: -15px
}

.rate label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ffc700
}

.rate label:last-child {
    color: #dedede
}

.rate:not(:checked)>label:before {
    content: '★ '
}

.filterSide button.accordion {
    background: #fff;
    border: none;
    border-top: 1px solid #dedede;
    color: #35353d;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    text-align: right;
    outline: 0;
    font-size: 15px;
    -webkit-transition: .4s;
    transition: .4s
}

.filterSide button.accordion.active,
button.accordion:hover {
    background-color: #f5f5f5
}

.filterSide div.panel {
    padding: 0 18px;
    display: none;
    background-color: #fff;
    box-shadow: none
}

.filterSide div.panel.show {
    display: block
}

.filterSide .panel {
    margin-bottom: 0
}

button.accordion:after {
    content: '\276F';
    font-size: 13px;
    color: #777;
    float: left;
    margin-left: 5px
}

button.accordion.active:after {
    content: "\2796"
}

.panel ul.list-group>li {
    padding: 10px 0!important
}

.filterSide .rate {
    float: right;
    height: 46px;
    margin-bottom: 5px;
    margin-top: -6px
}

.filterSide .rate label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ffc700
}

.filterSide .rate label:last-child {
    color: #dedede
}

.filterSide .rate:not(:checked)>label:before {
    content: '★ '
}

.filResult .pro {
    padding: 10px;
    position: relative;
    margin-top: 15px
}

.filResult .pro h4 {
    font-size: 15px;
    color: #35353d
}

.filResult .pro .addToCart {
    background: #f5f5f5;
    border-top: 1px solid #dedede;
    height: 45px;
    padding: 13px;
    margin: -10px;
    margin-top: 17px;
    text-align: center
}

.pro .addToCart a .glyphicon {
    color: #ed7133
}

.filResult .pro .addToCart h4 {
    margin: 0
}

.filResult .pro .addToCart h4 a {
    text-decoration: none;
    color: #35353d!important
}

.filResult .pro>img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px
}

.filResult .pro h5 {
    font-size: 15px;
    color: #0154b0;
    margin: 15px 0
}

.filResult .pro h6 {
    position: absolute;
    left: 19px;
    bottom: 114px;
    color: #dedede;
    text-decoration: line-through
}

.paymentPage {
    margin-top: 100px;
    margin-bottom: 100px
}

.paymentPage .radio {
    margin: .5rem
}

.paymentPage .radio input[type=radio] {
    position: absolute;
    opacity: 0
}

.paymentPage .radio input[type=radio]+.radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 2px solid #dedede;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.paymentPage .radio input[type=radio]:checked+.radio-label:before {
    background-color: #0154b0;
    box-shadow: inset 0 0 0 4px #fff
}

.paymentPage label {
    color: #35353d
}

.paymentPage .radio input[type=radio]:focus+.radio-label:before {
    outline: 0;
    border-color: #0154b0
}

.paymentPage .radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #dedede;
    background: #fff
}

.paymentPage .radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0
}

.checkbox label,
.paymentPage .radio label {
    padding-right: 0;
    padding-left: 5px
}

.paymentPage .check-mar-top {
    margin-top: 0;
    padding-right: 16px
}

.paymentPage .paymentRight .checkbox-custom {
    opacity: 0;
    position: absolute
}

.checkbox-custom-label,
.paymentPage .paymentRight .checkbox-custom {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer
}

.paymentPage .paymentRight .checkbox-custom-label {
    position: relative
}

.paymentPage .paymentRight .checkbox-custom+.checkbox-custom-label:before {
    content: '\2713';
    background: #fff;
    border: 2px solid #dedede;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    color: #fff
}

.paymentPage .paymentRight .checkbox-custom:checked+.checkbox-custom-label:before {
    background: #0154b0
}

.paymentPage .paymentRight .checkbox-custom:focus+.checkbox-custom-label {
    outline: 0
}

.paymentAddress select {
    width: 95%;
    margin: 0 20px;
    margin-top: 15px
}

.paymentAddress input[type=text] {
    width: 98%;
    margin: 0 20px
}

.newAddress {
    display: none
}

select {
    border: 0!important;
    border-bottom: 1px solid #dedede!important;
    border-radius: 0!important;
    height: 25px!important;
    background: 0 0;
    outline: 0!important
}

option {
    background: #f8f8f8!important
}

.paymentPage .paymentLeft .input-field {
    margin-top: 0
}

.paymentPage .input-group-addon:last-child {
    border-left-width: 0;
    border-left: 1px solid #dedede
}

.btn-default:focus,
.btn-default:hover {
    background-color: #0154b0!important
}

.clockpicker input[type=text] {
    text-indent: 5px
}

.anotherDay {
    margin-top: 60px
}

input[name=anotherday],
input[name=anotherday]:focus {
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede
}

.paymentOrder .btn {
    width: 100%;
    margin: 0;
    height: 45px
}

.clockpicker-popover .popover-title {
    direction: ltr!important
}

.header {
    background: #f8f8f8;
    padding: 10px 0
}

.selectAria {
    margin-top: 30px
}

.selectAria select {
    border-bottom: 0!important
}

.hedarLang {
    padding-top: 20px;
    color: #fff;
    margin-right: 14px
}

.hedarLang span {
    padding: 0 10px;
    border-left: 1px solid #dedede
}

.hedarLang span a {
    color: #fff
}

.hedarLang span:last-child {
    border-left: none
}

.hedarLang select {
    width: 125px;
    background: 0 0;
    border: 0!important;
    border-left: 1px solid #dedede!important;
    outline: 0;
    height: 18px!important
}

.borer {
    width: 100%;
    height: 1px;
    background: #dedede
}

.header .hedarLogo img {
    width: 85px
}

.imLogo {
    width: 50px
}

.hedarUser {
    padding-top: 21px;

}

.hedarUser>div {
    width: 50px;
    display: inline-block
}

.hedarUser .cart {
    padding-top: 5px
}

.hedarUser .user {
    top: 22px;
    position: absolute;
    text-align: right
}

.hedarUser>div:first-child {
    padding-left: 20px
}

.hedarUser>div:first-child i {
    padding-left: 2px
}

.hedarUser>div .glyphicon.glyphicon-shopping-cart {
    font-size: 24px
}

.header .hedarSearch {
    padding-top: 24px;
    height: 35px;
    position: relative;
    z-index: 1000;
}

.header .hedarSearch input[type=search] {
    border-radius: 0;
    padding: 0!important;
    padding-right: 10px!important;
    border: 1px solid #ccc !important;
    outline: 0 !important
}
.form-control:focus{
    border: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.auto-complete ul{
    width: 459px;
    list-style: none;
    background: #fff;
    max-height: 28.5714285714rem;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
    left: 15px;
    top: 36px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
}
.auto-complete ul li{
    padding: .3571428571rem .5714285714rem;
    cursor: pointer;
    border-top: 1px solid #f7f7f7;
}
.auto-complete ul li:hover{
    background-color: #f8f8f8;
}
.auto-complete ul li span{
    color: #0b7dda;
    padding-left:15px
}
.autocomplete-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 900;
    background: rgba(37,41,51,.45);
    display: none
}
.hedarSearch button {
    left: -46px;
    right: auto;
    background: #0154b0;
    height: 36px;
    width: 36px;
    margin-right: -18px;
    border: 0
}

.hedarSearch button:hover {
    background: #0154b0
}

.hedarSearch button span {
    left: 34px;
    color: #fff
}

.userLogin {
    padding-top: 8px
}

.cart span.newAlertNum,
.newAlert span.newAlertNum {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #eee;
    background: #0154b0;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 16px;
    cursor: pointer;
    font-size: 8px;
    padding-top: 3px
}

.navbar-default {
    background: #0154b0
}

.navbar .navbar-nav>li>a:hover {
    background-color: rgba(0, 0, 0, .05)!important
}

.navbar .navbar-nav>li>a {
    color: rgba(255, 255, 255, .84);
    padding-top: 20px!important;
    padding-bottom: 20px!important
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important
}

.navbar-collapse {
    padding-right: 0!important
}

.dropdown-menu li>a,
.dropdown-menu li>span {
    text-align: right!important
}

.nav>li>a {
    padding: 10px 11px!important
}

@media (max-width:768px) {
    .nav>li>a,
    .navbar-form {
        padding: 10px 26px!important
    }
}

.navbar .navbar-brand {
    padding-top: 5px!important
}

.navbar-toggle {
    margin-top: 13px!important
}

.carousel .carousel-indicators .active {
    background-color: #5a95f5!important
}

.carousel-indicators li {
    border: 1px solid #5a95f5
}

.fclass {
    margin-bottom: 10px
}

.profileedit #nav-tabs-wrapper1 {
    background-color: #fff;
    box-shadow: 0 8px 17px 0 transparent, 0 6px 20px 0 transparent;
    padding: 20px 0 10px 0;
    text-align: center
}

.profileedit #nav-tabs-wrapper1 li {
    text-align: left;
    padding: 10px 10px
}

.profileedit #nav-tabs-wrapper1 li:hover {
    background-color: #f7f7f7;
    color: #3f3f3f
}

.profileedit .col-sm-3 li i {
    font-size: 20px;
    margin-right: 10px
}

.username-profile {
    font-size: 18px;
    display: block;
    padding-bottom: 15px
}

.profileedit #nav-tabs-wrapper1 .active {
    background-color: #f7f7f7;
    color: #3f3f3f
}

.profileedit .well {
    background-color: #fff;
    padding: 0
}

.userDataEdit input[type=date] {
    width: 246px;
    padding-right: 66px
}

.profileedit .nav-pills>li.active>a {
    background-color: #f7f7f7;
    border: 0;
    color: #414141
}

.profileedit .nav-pills>li>a {
    border-radius: 0
}

.profileedit .nav-tabs>li>a {
    margin-right: 0
}

.profileedit a:hover,
a,
a:focus {
    color: #414141
}

.profileedit .active I {
    color: #4285f4
}

.profileedit .nav-stacked>li {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin: 0
}

.edit-header-model {
    background-color: #e8e8e8
}

#vtab1 table a {
    text-decoration: underline
}

#vtab2 {
    padding: 0
}

.account-info .fa-pencil,
.personal-info .fa-pencil {
    position: absolute;
    top: 10px;
    right: 10px
}

.account-info,
.address-info,
.personal-info {
    padding: 15px;
    position: relative;
    border-bottom: 1px #ccc solid
}

.address-info i {
    margin-left: 20px
}

.box-shadow {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .29)!important
}

#vtab1,
#vtab2 {
    border: 0
}

.cancelbtn {
    background-color: #ffa401!important;
    color: #fff
}

.modal .btn {
    margin: 0!important
}

.input-field label {
    right: 0
}

.add-address a {
    color: #1e90ff;
    text-decoration: underline;
    font-weight: 700
}

.modal-header {
    background: #f8f8f8
}

.modal-title {
    font-size: 25px
}

.modal-header .close {
    border: 1px solid #404040;
    border-radius: 50%;
    width: 25px
}

#aditaddress .modal-body select,
#editname .modal-body select {
    width: 50%;
    height: 29px;
    margin-right: 10px;
    margin-bottom: 15px
}

#aditaddress .col-lg-12 {
    padding: 0
}

.personal-info li {
    margin-bottom: 12px
}

.imgfit {
    width: 100%!important;
    height: 377px!important;
    -o-object-fit: contain!important;
    object-fit: contain!important;
    padding: 30px
}

.addbasket {
    padding: 10px;
    width: 100%;
    margin: 10px 0 0 0
}

.add-product #quantity {
    border: 0
}

#quantity {
    pointer-events: none
}

p {
    font-size: 14px
}

.old-price {
    text-decoration: line-through
}

.product-details button {
    margin: 0;
    padding: 8px 22px
}

.review-order-section .pop-margin .col-lg-6 {
    margin-bottom: 10px!important
}

.product-details input {
    background-color: #fff;
    text-align: center
}

.new-price,
.old-price {
    margin-bottom: 17px
}

.perform-rate {
    float: left;
    margin-bottom: 12px;
    width: 50%
}

.test,
.test1,
.test2 {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 30%
}

.radio {
    margin: .5rem
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0
}

.radio input[type=radio]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #4285f4;
    box-shadow: inset 0 0 0 4px #f4f4f4
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: 0;
    border-color: #f56e3f
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0
}

.float {
    float: left
}

.fieldset {
    border: 0!important
}

.comment-list .row {
    margin-bottom: 0
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    border-top-right-radius: 0;
    top: 1px
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0;
    border-top-left-radius: 0;
    right: 16px
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px
}

.comment-list figcaption {
    word-wrap: break-word
}

@media (min-width:768px) {
    .comment-list .arrow:after,
    .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent
    }
    .comment-list .panel.arrow.left:after,
    .comment-list .panel.arrow.left:before {
        border-left: 0
    }
    .comment-list .panel.arrow.left:before {
        left: 0;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px
    }
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #fff;
        border-width: 15px
    }
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px
    }
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #fff;
        border-width: 15px
    }
}

.comment-list .comment-post {
    margin-top: 6px
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 4px;
    float: left;
    width: 100%
}

.status-upload form {
    float: left;
    width: 100%
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 4px 4px 0 0;
    color: #777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: .3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: 0;
    border: 1px solid #f2f2f2
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto
}

.status-upload ul>li {
    float: left
}

.status-upload ul>li>a {
    border-radius: 4px;
    color: #777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    width: 30px;
    cursor: pointer
}

.status-upload ul>li>a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff
}

.status-upload form button {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: .3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px
}

.dropdown>a>span.green:before {
    border-left-color: #2dcb73
}

.status-upload form button>i {
    margin-right: 7px
}

.new-control .fa {
    background-color: transparent;
    color: #000
}

.carousel-control .fa {
    top: 43%
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0 1px 0 #a2a2a2
}

.star-ratings-css-top {
    color: #f80;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0
}

.star-ratings-sprite {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png) repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto
}

.star-ratings-sprite-rating {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png) repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block
}

.new-price {
    color: #f57d31
}

.add-product .btn-danger,
.add-product .btn-danger:focus,
.add-product .btn-danger:hover {
    background: #f57d31!important
}

.add-product .btn-success,
.btn-danger:hover .add-product .btn-success {
    background: #0154b0
}

.carousel-control.left,
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, transparent 0, transparent 100%)
}

.add-product input[type=text] {
    height: 47px
}

.add-product .btn-success:hover,
.btn-success:focus {
    background: #0154b0!important
}

.title-rec {
    background-color: #fff
}

#carousel1 {
    margin-bottom: 20px
}

.users-feedback {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    margin-bottom: 15px;
    height: 400px;
    overflow: scroll
}

.orders-details thead {
    background-color: #f7f7f7
}

.rate {
    height: 46px;
    margin-bottom: 5px;
    margin-top: -6px
}

footer input[type=text]:focus {
    border-bottom: 1px solid rgba(158, 158, 158, 0)
}

.pro {
    padding: 10px;
    position: relative;
    margin-top: 15px
}

.mainProCon {
    position: relative;
    direction: rtl
}

.offerPrice {
    background: #ed7133;
    color: #fff;
    position: relative;
    padding: 10px;
    top: -280px;
    right: 0
}

.pro h4 {
    font-size: 15px;
    color: #404040
}

.pro .addToCart {
    background: #dedede;
    border-top: 1px solid #c2bebe;
    height: 45px;
    padding: 13px;
    margin: -10px;
    margin-top: 17px;
    text-align: center
}

.pro .addToCart h4 {
    margin: 0
}

.pro .addToCart h4 a {
    text-decoration: none;
    color: #404040!important
}

.pro>img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px;
    height: 128px!important
}

.pro h5 {
    font-size: 15px;
    color: #f47d31;
    margin: 15px 0
}

.pro h6 {
    position: absolute;
    left: 19px;
    bottom: 90px;
    color: #dedede;
    text-decoration: line-through
}

.pro h6 {
    left: 18px;
    right: auto;
    bottom: 114px
}

.pro .addToCart span {
    margin-right: 10px
}

.rec-products .title-rec {
    background-color: #f8f8f8
}

.rate {
    float: right
}

.rec-products .col-item {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background: #fff
}

.rec-products .col-item .photo img {
    margin: 0 auto;
    width: 100%
}

.rec-products .col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px
}

.rec-products .col-item:hover .info {
    background-color: beige
}

.rec-products .col-item .price {
    float: left;
    margin-top: 5px
}

.rec-products .col-item .price h5 {
    line-height: 20px;
    margin: 0
}

.rec-products .price-text-color {
    color: #219fd1
}

.rec-products .col-item .info .rating {
    color: #777
}

.rec-products .col-item .rating {
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px
}

.rec-products .col-item .separator {
    border-top: 1px solid #e1e1e1
}

.rec-products .clear-left {
    clear: left
}

.rec-products .col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center
}

.rec-products .col-item .separator p i {
    margin-right: 5px
}

.rec-products .col-item .btn-add {
    width: 50%;
    float: left
}

.rec-products .col-item .btn-add {
    border-right: 1px solid #e1e1e1
}

.rec-products .col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px
}

.rec-products .controls {
    margin-top: 20px
}

.rec-products [data-slide=prev] {
    margin-right: 10px
}

.rec-products .btn-success,
.rec-products .btn-success:focus,
.rec-products .btn-success:hover {
    background-color: #f47d31!important
}

.rec-products .pull-right {
    float: left!important
}

#owl-demo .item {
    margin: 3px
}

#owl-demo .item img {
    display: block;
    height: auto
}

#owl-demo1 .item {
    margin: 3px
}

#owl-demo1 .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    width: 160px;
    height: 160px;
    -o-object-fit: contain!important;
    object-fit: contain!important
}

.title-offer {
    text-align: center;
    height: 50px;
    background-color: #0154b0;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 30px
}

.title-offer h4 {
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    line-height: 13px
}

.offer-home {
    padding: 64px 10px 10px 10px!important;
    margin-top: 0
}

.carousel-caption h5 {
    border: 4px solid #fff;
    padding: 11px
}

.carousel-caption a {
    color: #fff
}

.section-title-offers {
    background-color: #fff;
    margin: 19px 0
}

.img-container {
    position: relative;
    width: 50%
}

.image {
    display: block;
    width: 100%;
    height: auto
}

.btn01 .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008cba;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease
}

.img-container:hover .overlay {
    height: 100%
}

.text {
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.btn01 {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3)
}

.btn01 img {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0
}

.btn01 .ovrly {
    background: rgba(0, 0, 0, .35);
    height: 100%;
    left: 0;
    top: 68%;
    width: 100%;
    position: absolute;
    -webkit-transition: all .5s;
    transition: all .5s
}

.btn01 .buttons {
    width: 85%;
    position: absolute;
    top: 84%;
    left: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.btn01 .buttons .fa {
    margin: 0 1px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    border-radius: 50%;
    color: rgba(50, 50, 50, .9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px
}

.overtext {
    position: absolute;
    padding: 10px;
    border: 1px #fff solid;
    left: 30%;
    top: 33px
}

.btn01:hover .buttons {
    top: 50%
}

.btn01:hover .ovrly {
    top: 0
}

.item .btn01 .buttons a {
    color: #fff;
    font-size: 15px
}

.latest-orders .item {
    margin-bottom: 20px
}

footer .container div>img {
    width: 100px;
    margin-top: 17px
}

.footer-btn {
    background-color: #fff!important;
    width: 100%!important;
    border: solid #9e9e9e 1px!important;
    margin-top: 10px
}

.main-title {
    font-size: 15px;
    font-weight: 700
}

.sm-icons li {
    float: left;
    margin-bottom: 10px;
    margin-left: 4px
}

.down-app {
    text-align: left;
    margin-top: 10px
}

.news-send {
    margin-top: 12px
}

.news-send input {
    height: 28px;
    padding: 5px
}

@media only screen and (max-width:500px) {
    .table-overflow {
        overflow-x: scroll
    }
    .add-product .btn-success:focus,
    .add-product .btn-success:hover {
        background-color: #00d255!important
    }
}

@media only screen and (max-width:990px) {
    .offer {
        margin-top: 20px!important
    }
}

.total-products {
    color: red
}

.copyr {
    background-color: #d0d0d0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 3px 0
}

.owl-carousel,
.product-trands {
    direction: ltr
}

.owl-carousel .offerPrice {
    left: 157px
}
/*--------search bar---------*/

.auto-complete button {
    float: left;
    width: 70px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.auto-complete::after {
    content: "";
    clear: both;
    display: table;
}
=======
@charset "UTF-8";.theme-align{text-align:right}.floating{float:left}.margin-top{margin-top:50px;margin-bottom:30px}@font-face{font-family:noor;src:url(../font/noor/NOORR_0.TTF)}*{font-family:noor}.btn-warning{background:#0154b0}.btn-warning:hover{background:#0154b0!important}.btn-success{background:#5ba0d0}.btn-success:hover{background:#5ba0d0!important}input{border-bottom:1px solid #dedede!important}body{font-family:noor;background:#f8f8f8}.btn{border:0}.btn:focus,.btn:hover{color:#fff}.no-padd-r{padding-right:0}.no-padd-l{padding-left:0}.padding{padding:10px 0}.no-padd{padding:0}.no-mar-r{margin-right:0}.no-mar-l{margin-left:0}.no-mar{margin:0}.colorOrange{color:#0154b0}.border{display:block;height:1px;background:#dedede;margin:15px 0 25px 0}.boxShadow,.paymentPage .paymentLeft ulو.paymentPage .paymentLeft .paymentAddress,.paymentPage .paymentRight .panel-primary{box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}input[type=date]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label{color:#0154b0}input[type=checkbox]+label{font-size:13px;color:#35353d;font-weight:400}input[type=date]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=text]:focus:not([readonly]){border-bottom:1px solid #dedede!important;box-shadow:none}label{font-size:14px;font-weight:400}.panel-heading{background:#f9f9f9!important}input[type=email].invalid{border-bottom:1px solid red;box-shadow:0 1px 0 0 red}.form-login .form-control:focus{border-color:#0154b0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,165,0,.6)}.login.panel-primary>.panel-heading{background:#dedede;border-color:transparent;color:#35353d;font-size:15px}.login.panel-primary{border-color:#dedede}.alert.alert-warning{display:none!important}.form-login{margin-top:30px}.login .form-login select{width:100%!important;margin-left:12px;height:35px!important;border-bottom:1px solid #dedede!important}.form-login .input-field label{right:15px;font-weight:400}.form-login a.margin{margin-top:20px;display:inline-block}.mobile-app{margin-top:30px}.mobile-app>img{margin-right:80px;margin-bottom:30px}.mybtn{margin-top:30px}.btndown{margin-bottom:20px}.check-mar-top{margin-top:15px}.checkbox-custom{opacity:0;position:absolute}.checkbox-custom,.checkbox-custom-label{display:inline-block;vertical-align:middle;margin:5px;cursor:pointer}.checkbox-custom-label{position:relative}.checkbox-custom+.checkbox-custom-label:before{content:'\2713';background:#fff;border:2px solid #dedede;display:inline-block;vertical-align:middle;width:20px;height:20px;margin-left:5px;text-align:center;color:#fff}.checkbox-custom:checked+.checkbox-custom-label:before{background:#0154b0}.checkbox-custom:focus+.checkbox-custom-label{outline:0}.card .card-content{padding:10px;position:relative;margin-right:-30px}.card .card-content i{position:absolute;bottom:15px;left:15px;cursor:pointer}.card .card-content .offer{position:absolute;top:15px;left:15px;border:1px solid #dedede;padding:2px}.card .card-image img{position:relative;left:0;right:0;top:0;bottom:0;width:100%;height:121px;padding:5px}.sp-quantity{position:relative;color:#fff}.sp-quantity .sp-input{position:absolute;bottom:-31px;right:74px;width:20px;text-align:center}.sp-quantity .sp-input input{border:0!important;color:#404040!important}.sp-quantity .sp-plus{position:absolute;bottom:-49px;right:-10px;text-align:center}.sp-quantity .sp-minus{position:absolute;right:-14px;bottom:-49px;text-align:center}.block-add{display:block;background:#0154b0;cursor:pointer;width:20px;height:20px;position:absolute;right:50px;bottom:45px;padding-top:3px}.block-min{display:block;background:#ed7133;cursor:pointer;width:20px;height:20px;right:112px;bottom:45px;position:absolute;padding-top:3px}span.amount{display:block;right:85px;bottom:50px;position:absolute;color:#35353d!important}.card .card-content .offer h6{font-size:10px;padding:0;margin:0;margin-bottom:3px}.card .card-content i{color:#ed7133}.card .card-content i:hover{color:#0154b0;-webkit-transition:all .5s ease-in;transition:all .5s ease-in}.product .card-content h4{font-size:13px;color:#35353d;border:none;margin-top:0;margin-bottom:10px}.product .card-content h5{font-size:12px;color:#35353d;border:none;margin-bottom:13px;margin-top:0;padding:0}.card .card-content h5:last-child{margin-bottom:0}.product .card-content h5>span{color:#0154b0}.product{padding-top:10px}.cartPage .orderCart{background:#dedede;height:100px;padding-top:15px;font-size:15px}.cartPage .orderCart h6:last-child{padding-top:15px}.cartPage .cartTitle{padding-top:15px}.cartPage .cartTitle h4{font-size:18px;margin-top:35px;margin-bottom:0}.cartPage .cartTitle .glyphicon{color:#0154b0}@media (max-width:768px){.btn{padding-left:10px}}.searchPage .filterSearch h4{font-size:14px;margin-bottom:0}.searchPage .filterSearch label{color:#35353d}.clientitemresearch .researchcat{background:#0154b0;padding:12px}.clientitemresearch .researchcat h3{color:#fff;margin:0;font-size:18px}.filterSide{margin-top:15px}.productRate{height:25px;margin-top:-15px}.pro .productRate label{width:1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:30px;color:#ffc700}.pro .productRate label:last-child{color:#dedede}.pro .productRate:not(:checked)>label:before{content:'★ '}.rate{height:25px;margin-top:-15px}.rate label{width:1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:30px;color:#ffc700}.rate label:last-child{color:#dedede}.rate:not(:checked)>label:before{content:'★ '}.filterSide button.accordion{background:#fff;border:none;border-top:1px solid #dedede;color:#35353d;cursor:pointer;padding:14px;width:100%;text-align:right;outline:0;font-size:15px;-webkit-transition:.4s;transition:.4s}.filterSide button.accordion.active,button.accordion:hover{background-color:#f5f5f5}.filterSide div.panel{padding:0 18px;display:none;background-color:#fff;box-shadow:none}.filterSide div.panel.show{display:block}.filterSide .panel{margin-bottom:0}button.accordion:after{content:'\276F';font-size:13px;color:#777;float:left;margin-left:5px}button.accordion.active:after{content:"\2796"}.panel ul.list-group>li{padding:10px 0!important}.filterSide .rate{float:right;height:46px;margin-bottom:5px;margin-top:-6px}.filterSide .rate label{float:right;width:1em;overflow:hidden;white-space:nowrap;cursor:pointer;font-size:30px;color:#ffc700}.filterSide .rate label:last-child{color:#dedede}.filterSide .rate:not(:checked)>label:before{content:'★ '}.filResult .pro{padding:10px;position:relative;margin-top:15px}.filResult .pro h4{font-size:15px;color:#35353d}.filResult .pro .addToCart{background:#f5f5f5;border-top:1px solid #dedede;height:45px;padding:13px;margin:-10px;margin-top:17px;text-align:center}.pro .addToCart a .glyphicon{color:#ed7133}.filResult .pro .addToCart h4{margin:0}.filResult .pro .addToCart h4 a{text-decoration:none;color:#35353d!important}.filResult .pro>img{display:block;margin:0 auto;max-width:200px;max-height:150px}.filResult .pro h5{font-size:15px;color:#0154b0;margin:15px 0}.filResult .pro h6{position:absolute;left:19px;bottom:114px;color:#dedede;text-decoration:line-through}.paymentPage{margin-top:100px;margin-bottom:100px}.paymentPage .radio{margin:.5rem}.paymentPage .radio input[type=radio]{position:absolute;opacity:0}.paymentPage .radio input[type=radio]+.radio-label:before{content:'';background:#fff;border-radius:100%;border:2px solid #dedede;display:inline-block;width:1.4em;height:1.4em;position:relative;top:-.2em;margin-right:1em;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease}.paymentPage .radio input[type=radio]:checked+.radio-label:before{background-color:#0154b0;box-shadow:inset 0 0 0 4px #fff}.paymentPage label{color:#35353d}.paymentPage .radio input[type=radio]:focus+.radio-label:before{outline:0;border-color:#0154b0}.paymentPage .radio input[type=radio]:disabled+.radio-label:before{box-shadow:inset 0 0 0 4px #f4f4f4;border-color:#dedede;background:#fff}.paymentPage .radio input[type=radio]+.radio-label:empty:before{margin-right:0}.checkbox label,.paymentPage .radio label{padding-right:0;padding-left:5px}.paymentPage .check-mar-top{margin-top:0;padding-right:16px}.paymentPage .paymentRight .checkbox-custom{opacity:0;position:absolute}.checkbox-custom-label,.paymentPage .paymentRight .checkbox-custom{display:inline-block;vertical-align:middle;margin:5px;cursor:pointer}.paymentPage .paymentRight .checkbox-custom-label{position:relative}.paymentPage .paymentRight .checkbox-custom+.checkbox-custom-label:before{content:'\2713';background:#fff;border:2px solid #dedede;display:inline-block;vertical-align:middle;width:20px;height:20px;margin-left:5px;text-align:center;color:#fff}.paymentPage .paymentRight .checkbox-custom:checked+.checkbox-custom-label:before{background:#0154b0}.paymentPage .paymentRight .checkbox-custom:focus+.checkbox-custom-label{outline:0}.paymentAddress select{width:95%;margin:0 20px;margin-top:15px}.paymentAddress input[type=text]{width:98%;margin:0 20px}.newAddress{display:none}select{border:0!important;border-bottom:1px solid #dedede!important;border-radius:0!important;height:25px!important;background:0 0;outline:0!important}option{background:#f8f8f8!important}.paymentPage .paymentLeft .input-field{margin-top:0}.paymentPage .input-group-addon:last-child{border-left-width:0;border-left:1px solid #dedede}.btn-default:focus,.btn-default:hover{background-color:#0154b0!important}.clockpicker input[type=text]{text-indent:5px}.anotherDay{margin-top:60px}input[name=anotherday],input[name=anotherday]:focus{border-top:1px solid #dedede;border-right:1px solid #dedede}.paymentOrder .btn{width:100%;margin:0;height:45px}.clockpicker-popover .popover-title{direction:ltr!important}.header{background:#f8f8f8;padding:10px 0}.selectAria{margin-top:30px}.selectAria select{border-bottom:0!important}.hedarLang{padding-top:20px;color:#fff;margin-right:14px}.hedarLang span{padding:0 10px;border-left:1px solid #dedede}.hedarLang span a{color:#fff}.hedarLang span:last-child{border-left:none}.hedarLang select{width:125px;background:0 0;border:0!important;border-left:1px solid #dedede!important;outline:0;height:18px!important}.borer{width:100%;height:1px;background:#dedede}.header .hedarLogo img{width:85px}.imLogo{width:50px}.hedarUser{padding-top:21px}.hedarUser>div{width:50px;display:inline-block}.hedarUser .cart{padding-top:5px}.hedarUser .user{top:22px;position:absolute;text-align:right}.hedarUser>div:first-child{padding-left:20px}.hedarUser>div:first-child i{padding-left:2px}.hedarUser>div .glyphicon.glyphicon-shopping-cart{font-size:24px}.header .hedarSearch{padding-top:24px;height:35px}.header .hedarSearch input[type=search]{border-radius:0;padding:0!important;padding-right:10px!important;border-bottom:1px solid #ccc!important}.hedarSearch button{left:-46px;right:auto;background:#0154b0;height:36px;width:36px;margin-right:-18px;border:0}.hedarSearch button:hover{background:#0154b0}.hedarSearch button span{left:34px;color:#fff}.userLogin{padding-top:8px}.cart span.newAlertNum,.newAlert span.newAlertNum{width:20px;height:20px;border-radius:50%;border:1px solid #eee;background:#0154b0;color:#fff;position:absolute;text-align:center;top:16px;cursor:pointer;font-size:8px;padding-top:3px}.navbar-default{background:#0154b0}.navbar .navbar-nav>li>a:hover{background-color:rgba(0,0,0,.05)!important}.navbar .navbar-nav>li>a{color:rgba(255,255,255,.84);padding-top:20px!important;padding-bottom:20px!important}.container-fluid{padding-right:0!important;padding-left:0!important}.navbar-collapse{padding-right:0!important}.dropdown-menu li>a,.dropdown-menu li>span{text-align:right!important}.nav>li>a{padding:10px 11px!important}.dropdown-submenu{position:relative}.dropdown-submenu>.dropdown-menu{top:0;right:100%;margin-top:-6px;margin-left:-1px}.dropdown-submenu:hover>.dropdown-menu{display:block}.dropdown-submenu>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:8px 0 0 8px;border-left-color:#ccc;margin-top:10px;margin-right:-10px}.dropdown-submenu:hover>a:after{border-left-color:#fff}.dropdown-submenu.pull-left{float:none}@media (max-width:768px){.nav>li>a,.navbar-form{padding:10px 26px!important}}.navbar .navbar-brand{padding-top:5px!important}.navbar-toggle{margin-top:13px!important}.carousel .carousel-indicators .active{background-color:#5a95f5!important}.carousel-indicators li{border:1px solid #5a95f5}.fclass{margin-bottom:10px}.profileedit #nav-tabs-wrapper1{background-color:#fff;box-shadow:0 8px 17px 0 transparent,0 6px 20px 0 transparent;padding:20px 0 10px 0;text-align:center}.profileedit #nav-tabs-wrapper1 li{text-align:left;padding:10px 10px}.profileedit #nav-tabs-wrapper1 li:hover{background-color:#f7f7f7;color:#3f3f3f}.profileedit .col-sm-3 li i{font-size:20px;margin-right:10px}.username-profile{font-size:18px;display:block;padding-bottom:15px}.profileedit #nav-tabs-wrapper1 .active{background-color:#f7f7f7;color:#3f3f3f}.profileedit .well{background-color:#fff;padding:0}.userDataEdit input[type=date]{width:246px;padding-right:66px}.profileedit .nav-pills>li.active>a{background-color:#f7f7f7;border:0;color:#414141}.profileedit .nav-pills>li>a{border-radius:0}.profileedit .nav-tabs>li>a{margin-right:0}.profileedit a:hover,a,a:focus{color:#414141}.profileedit .active I{color:#4285f4}.profileedit .nav-stacked>li{border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;margin:0}.edit-header-model{background-color:#e8e8e8}#vtab1 table a{text-decoration:underline}#vtab2{padding:0}.account-info .fa-pencil,.personal-info .fa-pencil{position:absolute;top:10px;right:10px}.account-info,.address-info,.personal-info{padding:15px;position:relative;border-bottom:1px #ccc solid}.address-info i{margin-left:20px}.box-shadow{box-shadow:0 2px 6px 0 rgba(0,0,0,.29)!important}#vtab1,#vtab2{border:0}.cancelbtn{background-color:#ffa401!important;color:#fff}.modal .btn{margin:0!important}.input-field label{right:0}.add-address a{color:#1e90ff;text-decoration:underline;font-weight:700}.modal-header{background:#f8f8f8}.modal-title{font-size:25px}.modal-header .close{border:1px solid #404040;border-radius:50%;width:25px}#aditaddress .modal-body select,#editname .modal-body select{width:50%;height:29px;margin-right:10px;margin-bottom:15px}#aditaddress .col-lg-12{padding:0}.personal-info li{margin-bottom:12px}.imgfit{width:100%!important;height:377px!important;-o-object-fit:contain!important;object-fit:contain!important;padding:30px}.addbasket{padding:10px;width:100%;margin:10px 0 0 0}.add-product #quantity{border:0}#quantity{pointer-events:none}p{font-size:14px}.old-price{text-decoration:line-through}.product-details button{margin:0;padding:8px 22px}.review-order-section .pop-margin .col-lg-6{margin-bottom:10px!important}.product-details input{background-color:#fff;text-align:center}.new-price,.old-price{margin-bottom:17px}.perform-rate{float:left;margin-bottom:12px;width:50%}.test,.test1,.test2{float:left;margin-bottom:10px;margin-right:10px;width:30%}.radio{margin:.5rem}.radio input[type=radio]{position:absolute;opacity:0}.radio input[type=radio]+.radio-label:before{content:'';background:#f4f4f4;border-radius:100%;border:1px solid #b4b4b4;display:inline-block;width:1.4em;height:1.4em;position:relative;top:-.2em;margin-right:1em;vertical-align:top;cursor:pointer;text-align:center;-webkit-transition:all 250ms ease;transition:all 250ms ease}.radio input[type=radio]:checked+.radio-label:before{background-color:#4285f4;box-shadow:inset 0 0 0 4px #f4f4f4}.radio input[type=radio]:focus+.radio-label:before{outline:0;border-color:#f56e3f}.radio input[type=radio]:disabled+.radio-label:before{box-shadow:inset 0 0 0 4px #f4f4f4;border-color:#b4b4b4;background:#b4b4b4}.radio input[type=radio]+.radio-label:empty:before{margin-right:0}.float{float:left}.fieldset{border:0!important}.comment-list .row{margin-bottom:0}.comment-list .panel .panel-heading{padding:4px 15px;position:absolute;border:none;border-top-right-radius:0;top:1px}.comment-list .panel .panel-heading.right{border-right-width:0;border-top-left-radius:0;right:16px}.comment-list .panel .panel-heading .panel-body{padding-top:6px}.comment-list figcaption{word-wrap:break-word}@media (min-width:768px){.comment-list .arrow:after,.comment-list .arrow:before{content:"";position:absolute;width:0;height:0;border-style:solid;border-color:transparent}.comment-list .panel.arrow.left:after,.comment-list .panel.arrow.left:before{border-left:0}.comment-list .panel.arrow.left:before{left:0;top:30px;border-right-color:inherit;border-width:16px}.comment-list .panel.arrow.left:after{left:1px;top:31px;border-right-color:#fff;border-width:15px}.comment-list .panel.arrow.right:before{right:-16px;top:30px;border-left-color:inherit;border-width:16px}.comment-list .panel.arrow.right:after{right:-14px;top:31px;border-left-color:#fff;border-width:15px}}.comment-list .comment-post{margin-top:6px}.status-upload{background:none repeat scroll 0 0 #f5f5f5;border-radius:4px;float:left;width:100%}.status-upload form{float:left;width:100%}.status-upload form textarea{background:none repeat scroll 0 0 #fff;border:medium none;border-radius:4px 4px 0 0;color:#777;float:left;font-family:Lato;font-size:14px;height:142px;letter-spacing:.3px;padding:20px;width:100%;resize:vertical;outline:0;border:1px solid #f2f2f2}.status-upload ul{float:left;list-style:none outside none;margin:0;padding:0 0 0 15px;width:auto}.status-upload ul>li{float:left}.status-upload ul>li>a{border-radius:4px;color:#777;float:left;font-size:14px;height:30px;line-height:30px;margin:10px 0 10px 10px;text-align:center;-webkit-transition:all .4s ease 0s;transition:all .4s ease 0s;width:30px;cursor:pointer}.status-upload ul>li>a:hover{background:none repeat scroll 0 0 #606060;color:#fff}.status-upload form button{border:medium none;border-radius:4px;color:#fff;float:right;font-family:Lato;font-size:14px;letter-spacing:.3px;margin-right:9px;margin-top:9px;padding:6px 15px}.dropdown>a>span.green:before{border-left-color:#2dcb73}.status-upload form button>i{margin-right:7px}.new-control .fa{background-color:transparent;color:#000}.carousel-control .fa{top:43%}.star-ratings-css{unicode-bidi:bidi-override;color:#c5c5c5;font-size:25px;margin:0 auto;position:relative;padding:0;text-shadow:0 1px 0 #a2a2a2}.star-ratings-css-top{color:#f80;padding:0;position:absolute;z-index:1;display:block;top:0;left:0;overflow:hidden}.star-ratings-css-bottom{padding:0;display:block;z-index:0}.star-ratings-sprite{background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png) repeat-x;font-size:0;height:21px;line-height:0;overflow:hidden;text-indent:-999em;width:110px;margin:0 auto}.star-ratings-sprite-rating{background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png) repeat-x;background-position:0 100%;float:left;height:21px;display:block}.new-price{color:#f57d31}.add-product .btn-danger,.add-product .btn-danger:focus,.add-product .btn-danger:hover{background:#f57d31!important}.add-product .btn-success,.btn-danger:hover .add-product .btn-success{background:#0154b0}.carousel-control.left,.carousel-control.right{background-image:-webkit-linear-gradient(left,transparent 0,transparent 100%)}.add-product input[type=text]{height:47px}.add-product .btn-success:hover,.btn-success:focus{background:#0154b0!important}.title-rec{background-color:#fff}#carousel1{margin-bottom:20px}.users-feedback{border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;background-color:#fff;margin-bottom:15px;height:400px;overflow:scroll}.orders-details thead{background-color:#f7f7f7}.rate{height:46px;margin-bottom:5px;margin-top:-6px}footer input[type=text]:focus{border-bottom:1px solid rgba(158,158,158,0)}.pro{padding:10px;position:relative;margin-top:15px}.mainProCon{position:relative;direction:rtl}.offerPrice{background:#ed7133;color:#fff;position:relative;padding:10px;top:-280px;right:0}.pro h4{font-size:15px;color:#404040}.pro .addToCart{background:#dedede;border-top:1px solid #c2bebe;height:45px;padding:13px;margin:-10px;margin-top:17px;text-align:center}.pro .addToCart h4{margin:0}.pro .addToCart h4 a{text-decoration:none;color:#404040!important}.pro>img{display:block;margin:0 auto;max-width:200px;max-height:150px;height:128px!important}.pro h5{font-size:15px;color:#f47d31;margin:15px 0}.pro h6{position:absolute;left:19px;bottom:90px;color:#dedede;text-decoration:line-through}.pro h6{left:18px;right:auto;bottom:114px}.pro .addToCart span{margin-right:10px}.rec-products .title-rec{background-color:#f8f8f8}.rate{float:right}.rec-products .col-item{border:1px solid #e1e1e1;border-radius:5px;background:#fff}.rec-products .col-item .photo img{margin:0 auto;width:100%}.rec-products .col-item .info{padding:10px;border-radius:0 0 5px 5px;margin-top:1px}.rec-products .col-item:hover .info{background-color:beige}.rec-products .col-item .price{float:left;margin-top:5px}.rec-products .col-item .price h5{line-height:20px;margin:0}.rec-products .price-text-color{color:#219fd1}.rec-products .col-item .info .rating{color:#777}.rec-products .col-item .rating{float:left;font-size:17px;text-align:right;line-height:52px;margin-bottom:10px;height:52px}.rec-products .col-item .separator{border-top:1px solid #e1e1e1}.rec-products .clear-left{clear:left}.rec-products .col-item .separator p{line-height:20px;margin-bottom:0;margin-top:10px;text-align:center}.rec-products .col-item .separator p i{margin-right:5px}.rec-products .col-item .btn-add{width:50%;float:left}.rec-products .col-item .btn-add{border-right:1px solid #e1e1e1}.rec-products .col-item .btn-details{width:50%;float:left;padding-left:10px}.rec-products .controls{margin-top:20px}.rec-products [data-slide=prev]{margin-right:10px}.rec-products .btn-success,.rec-products .btn-success:focus,.rec-products .btn-success:hover{background-color:#f47d31!important}.rec-products .pull-right{float:left!important}#owl-demo .item{margin:3px}#owl-demo .item img{display:block;height:auto}#owl-demo1 .item{margin:3px}#owl-demo1 .item img{-webkit-filter:grayscale(100%);filter:grayscale(100%);display:block;width:160px;height:160px;-o-object-fit:contain!important;object-fit:contain!important}.title-offer{text-align:center;height:50px;background-color:#0154b0;color:#fff;position:absolute;top:0;width:100%;left:0;margin-bottom:30px}.title-offer h4{color:#fff;font-weight:700;font-size:19px;line-height:13px}.offer-home{padding:64px 10px 10px 10px!important;margin-top:0}.carousel-caption h5{border:4px solid #fff;padding:11px}.carousel-caption a{color:#fff}.section-title-offers{background-color:#fff;margin:19px 0}.img-container{position:relative;width:50%}.image{display:block;width:100%;height:auto}.btn01 .overlay{position:absolute;bottom:0;left:0;right:0;background-color:#008cba;overflow:hidden;width:100%;height:0;-webkit-transition:.5s ease;transition:.5s ease}.img-container:hover .overlay{height:100%}.text{white-space:nowrap;color:#fff;font-size:20px;position:absolute;overflow:hidden;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}.btn01{width:100%;overflow:hidden;position:relative;box-shadow:1px 1px 3px 0 rgba(0,0,0,.3)}.btn01 img{position:relative;width:100%;bottom:0;left:0}.btn01 .ovrly{background:rgba(0,0,0,.35);height:100%;left:0;top:68%;width:100%;position:absolute;-webkit-transition:all .5s;transition:all .5s}.btn01 .buttons{width:85%;position:absolute;top:84%;left:50%;-webkit-transition:all .5s;transition:all .5s;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.btn01 .buttons .fa{margin:0 1px;background:#fff;box-shadow:0 0 1px rgba(0,0,0,.3);border-radius:50%;color:rgba(50,50,50,.9);display:inline-block;line-height:40px;font-size:16px;text-align:center;text-decoration:none;width:40px;height:40px}.overtext{position:absolute;padding:10px;border:1px #fff solid;left:30%;top:33px}.btn01:hover .buttons{top:50%}.btn01:hover .ovrly{top:0}.item .btn01 .buttons a{color:#fff;font-size:15px}.latest-orders .item{margin-bottom:20px}footer .container div>img{width:100px;margin-top:17px}.footer-btn{background-color:#fff!important;width:100%!important;border:solid #9e9e9e 1px!important;margin-top:10px}.main-title{font-size:15px;font-weight:700}.sm-icons li{float:left;margin-bottom:10px;margin-left:4px}.down-app{text-align:left;margin-top:10px}.news-send{margin-top:12px}.news-send input{height:28px;padding:5px}@media only screen and (max-width:500px){.table-overflow{overflow-x:scroll}.add-product .btn-success:focus,.add-product .btn-success:hover{background-color:#00d255!important}}@media only screen and (max-width:990px){.offer{margin-top:20px!important}}.total-products{color:red}.copyr{background-color:#d0d0d0;height:40px;text-align:center;line-height:40px;padding:3px 0}.owl-carousel,.product-trands{direction:ltr}.owl-carousel .offerPrice{left:157px}
>>>>>>> 10b26ec425bd53528ed7ed8824fb9010a5211e78
